<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Change password</title>
</head>
<body>
<h2>Change password</h2>
<form method="POST" action="/hibernate/user/change-password">
    <table border="0">
        <tr>
            <td>Old password</td>
            <td><input type="password" name="oldPassword" th:value="${model.oldPassword}"/></td>
        </tr>
        <tr>
            <td>New password</td>
            <td><input type="password" name="password" th:value="${model.password}"/></td>
        </tr>
        <tr>
            <td>Confirm new password</td>
            <td><input type="password" name="password2" th:value="${model.password2}"/></td>
        </tr>
        <tr>
            <td></td>
            <td>
                <a href="/hibernate/menu">Back</a>
                <input type="submit" value="Save"/>
            </td>
        </tr>
    </table>
</form>
<h2 th:if="${message!= null}" th:text="${message}"></h2>
</body>
</html>