<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Menu</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<div th:if="${isAdmin}">
    <h1>Admin Function</h1>
    <a href="/hibernate/user/create">Create a new user</a>
    <br/>
    <a href="/hibernate/user/search">Search user</a>
    <br/>
    <a href="/hibernate/logout">Logout</a>
</div>
<div th:unless="${isAdmin}">
    <h1>User information</h1>
    <a href="/hibernate/user/info">Personal Information</a>
    <br/>
    <a href="/hibernate/user/change-password">Change password</a>
    <br/>
    <a href="/hibernate/logout">Logout</a>
</div>
</body>
</html>