<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>User information</title>
</head>
<body>
<h2>User information</h2>
<form method="POST" action="/jpa/user/info">
    <table border="0">
        <tr>
            <td>User Name</td>
            <td><input type="text" name="username" readonly th:value="${user.username}"/></td>
        </tr>
        <tr>
            <td>First Name</td>
            <td><input type="text" name="firstName" th:value="${user.firstName}"/></td>
        </tr>
        <tr>
            <td>Last Name</td>
            <td><input type="text" name="lastName" th:value="${user.lastName}"/></td>
        </tr>
        <tr>
            <td>Sex</td>
            <td><input type="text" name="sex" th:value="${user.sex}"/></td>
        </tr>
        <tr>
            <td>Address</td>
            <td><input type="text" name="address" th:value="${user.address}"/></td>
        </tr>
        <tr>
            <td>Email</td>
            <td><input type="text" name="email" th:value="${user.email}"/></td>
        </tr>
        <tr>
            <td>Mobile Phone</td>
            <td><input type="text" name="mobilePhone" th:value="${user.mobilePhone}"/></td>
        </tr>

        <tr>
            <td></td>
            <td>
                <a href="/jpa/menu">Back</a>
                <input type="submit" value="Save"/>
            </td>
        </tr>
    </table>
</form>
<h2 th:if="${message!= null}" th:text="${message}"></h2>
</body>
</html>